<!-- Modal -->
<div id="newPostModal" class="new-post-modal modal fade" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="new-post-modal-content modal-content">
      <div class="new-post-modal-header modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">New Page Post</h3>
      </div>
      
      <div class="new-post-modal-body modal-body">
          <ul class="nav nav-tabs new-post-modal-nav">
            <li class="active"><a data-toggle="tab" href="#new-post-modal-status">Status</a></li>
            <li><a data-toggle="tab" href="#new-post-modal-link">Link</a></li>
            <li><a data-toggle="tab" href="#new-post-modal-photo">Photo</a></li>
            <li><a data-toggle="tab" href="#new-post-modal-video">Video</a></li>
          </ul>

          <div class="tab-content">
            <div id="new-post-modal-status" class="tab-pane fade in active">
              <form id="newPostForm" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= active_link.unpublished ? 'unpublished' : 'published' %>">
                <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." required 
                oninvalid="this.setCustomValidity('This status update appears to be blank. Please write something.')" onchange="this.setCustomValidity('')" type="text" ></textarea >
                <div class="new-post-modal-form-submission">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <input class="btn btn-primary" type="submit" value="Publish"></input>
                </div>
              </form>
            </div>
            <div id="new-post-modal-link" class="tab-pane fade">
              <form id="newPostForm" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= active_link.unpublished ? 'unpublished' : 'published' %>">
                <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." type="text" ></textarea >
                <input name="link" style="width:100%; padding-right:10px;" placeholder="Link.."></input>
                <div class="new-post-modal-form-submission">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <input class="btn btn-primary" type="submit" value="Publish"></input>
                </div>
              </form>
            </div>
            <div id="new-post-modal-photo" class="tab-pane fade">
              <form id="newPostForm" method="POST" enctype="multipart/form-data" action="/page/<%= page_details.id %>/post/<%= active_link.unpublished ? 'unpublished' : 'published' %>">
                <textarea name="message" style="width:100%; min-height:140px; padding-right:10px;" placeholder="Say something.." type="text" ></textarea >
                <div class="new-post-modal-form-submission">
                  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  <input class="btn btn-primary" type="submit" value="Publish"></input>
                </div>
              </form>
            </div>
            <div id="new-post-modal-video" class="tab-pane fade">
              <h3>Menu 3</h3>
              <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>