<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/loader %>
	<div class="header">
		<script src="/javascripts/moment.min.js"></script>
		<% include ../partials/loggedInHeader %>
	</div>


	<div class="container">
	    <div class="row-fluid">
	        <div class="span12 heading white">
	        	<h1><%= page_details.name %></h1>
	        	<h4><%= page_details.about%></h4>
	        </div>
	    </div>
	    <div class="row-fluid">  
			<% if(posts!=null && posts.data!=null && posts.data.length != 0){ %>
					<div class="span3 white page-side-bar">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="<%= active_link.all ? 'active' : '' %>"><a href="<%= base_url %>/posts/all">All</a></li>
						  <li role="presentation" class="<%= active_link.published ? 'active' : '' %>"><a href="<%= base_url %>/posts/published">Published</a></li>
						  <li role="presentation" class="<%= active_link.unpublished ? 'active' : '' %>"><a href="<%= base_url %>/posts/unpublished">Unpublished</a></li>
						</ul>
					</div>
					<div class="span9">
						<div class="row-fluid">
							<div class="span12 white seperator page-post-heading">
								<div class="span6"> <h4><%= page_post_heading %></h4> </div>
								<div class="span6">
									<div class="pull-right">
									  	<% if(active_link.all){ %>
									    	<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Create
												<span class="caret"></span></button>
												<ul class="dropdown-menu">
													<li><a class="newPostButton" data-toggle="modal" data-target="#newPublishedPostModal">Published Post</a></li>
													<li><a href="#">Unpublished Post</a></li>
												</ul>
											</div>
									    <% }else{ %>
									    	<!-- Trigger the modal with a button -->
											<button type="button" class="btn btn-primary newPostButton" data-post-type="published" data-toggle="modal" data-target="#newPublishedPostModal"><span class="glyphicon glyphicon-plus"></span> Create</button>
									    <% }%>
									    <% include ../partials/publishedPostModal %>
									</div>
								</div>
							</div>
						</div>
						<% include ../partials/filter %>
						<div class="white page-table ">
							<div class="page-table-header row-fluid seperator" >
								<div class="span6 page-table-data page-table-header-data">Posts</div>
								<div class="span2 page-table-data page-table-header-data">Views</div>
								<div class="span4 page-table-data page-table-header-data">Published</div>
							</div>
							<% for(var i=0; i < posts.data.length; i++) { %>
								<div class="page-table-content post-row row-fluid seperator">
							    	<div class="span6 page-table-data truncate"><a href='/post/<%= posts.data[i].id %>'> <%= posts.data[i].message %> </a></div>
							    	<div class="span2 page-table-data"> <%= reachs[posts.data[i].id].data[0].values[0].value %> </div>
							    	<div class="span4 page-table-data"><%= formatDate(posts.data[i].created_time) %></div>
								</div>
							<% } %>
						</div>
					</div>
			<% } else{ %>  
			   <div class="white empty"> No Posts on this page !</div>
			<% } %>	        
	    </div>

		<% include ../partials/footer %>
	</div>
</body>
</html>