<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../function/functions %>
	<% include ../partials/loader %>
	<div class="header">
		<script src="/javascripts/moment.min.js"></script>
		<% include ../partials/loggedInHeader %>
	</div>


	<div class="container">
	    <div class="row-fluid">
	        <div class="span12 heading white page-details-container">
	        	<div class="span1">
	        		<img class="page-image" src="<%= page_details.full_picture ? page_details.full_picture : '/img/default.png' %>"></img>
	        	</div>
	        	<div class="span11">
					<div style="font-size:24px;"><%= page_details.name %></div>
		        	<div style="font-size:18px;"><%= page_details.about%></div>
	        	</div>
	        	
	        </div>
	    </div>
	    <div class="row-fluid">  
			<% if(posts!=null && posts.data!=null && posts.data.length != 0){ %>
					<div class="span3 white page-side-bar">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="<%= active_link.published ? 'active' : '' %>"><a href="<%= base_url %>/posts/Published">Published Posts</a></li>
						  <li role="presentation" class="<%= active_link.unpublished ? 'active' : '' %>"><a href="<%= base_url %>/posts/Unpublished">Unpublished Posts</a></li>
						</ul>
					</div>
					<div class="span9">
						<div class="row-fluid">
							<div class="span12 white seperator page-post-heading">
								<div class="span6"> <h4><%= page_post_heading %></h4> </div>
								<div class="span6">
									<div class="pull-right">
								    	<!-- Trigger the modal with a button -->
										<button type="button" class="btn btn-primary newPostButton" data-post-type="<%= posts_type %>" data-toggle="modal" data-target="#newPublishedPostModal"><span class="glyphicon glyphicon-plus"></span> Create</button>
									 	<% include ../partials/publishedPostModal %>
									</div>
								</div>
							</div>
						</div>
						<% include ../partials/filter %>
						<div class="white page-table ">
							<div class="page-table-header row-fluid seperator" >
								<div class="span6 page-table-data page-table-header-data">Posts</div>
								<div class="span2 page-table-data page-table-header-data">Views</div>
								<div class="span4 page-table-data page-table-header-data">Published</div>
							</div>
							<% for(var i=0; i < posts.data.length; i++) { %>
								<div class="page-table-content post-row row-fluid seperator">
							    	<a data-toggle="modal" data-target="#viewPostModal" data-id="<%= i %>" onclick="viewPostModal(this, event);"> 
					    				<div class="span6 page-table-data truncate"> 
					    					<span><img class="post-image" src="<%= posts.data[i].picture ?  posts.data[i].picture : '/img/default.png' %>"></img></span>
					    					<span class="post-message"><%= posts.data[i].message ? posts.data[i].message : ''%></div></span>
						    			<div class="span2 page-table-data"> <%= reachs[posts.data[i].id].data[0].values[0].value %> </div>
						    			<div class="span4 page-table-data"><%= formatDate(posts.data[i].created_time) %></div>
							    	</a>
								</div>
								<% include ../partials/viewPostModal %>
							<% } %>
						</div>
					</div>
			<% } else{ %>  
			   <div class="white empty"> No Posts on this page !</div>
			<% } %>	        
	    </div>

		<% include ../partials/footer %>
		<script src="/javascripts/posts.js"></script>
		<script >
			function viewPostModal(element, event){
				var index = $(element).data('id');
				var posts = <%- JSON.stringify(posts.data) %>;
				var currentPost = posts[index];
				var pageDetails = <%- JSON.stringify(page_details) %>;

				// default value
				$('#view-post-message').html("");
				$('#view-post-media-content').html("");
				$('#view-image').attr('src', '/img/default.png');
				$('#view-post-owner').html("");
				$('#view-post-time').html("");

				var message,mediaContent,publishedBy,from,creationTime,is_published,picture;
				if(pageDetails.picture && pageDetails.picture.data && pageDetails.picture.data.url){
					picture = pageDetails.picture.data.url;
					$('#view-image').attr('src', picture);
				} 
				if(currentPost.from && currentPost.from.name){
					from = currentPost.from.name;
					$('#view-post-owner').html(from);
				} 
				if(currentPost.application && currentPost.application.name){
					publishedBy = "Published by "+currentPost.application.name+' on ';
				} 
				if(currentPost.created_time){
					creationTime = formatedDate(currentPost.created_time);
					if(publishedBy) creationTime = publishedBy+creationTime;
					$('#view-post-time').html(creationTime);
				} 
				if(currentPost.message){
					message = currentPost.message;
					$('#view-post-message').html(message);
				} 

				// dynamic content
				if(currentPost.type == "link"){
					var linkPicture = currentPost.full_picture ? currentPost.full_picture : "";
					var name = currentPost.name ? currentPost.name : "";
					var link = currentPost.link ? currentPost.link : "";
					var linkContainer = $('<a/>',{href: link, style: "text-decoration: none;"});
					var caption = currentPost.caption ? currentPost.caption : "";
					var description = currentPost.description ? currentPost.description : "";
					linkContainer.append('<img class="photo-image" src="'+linkPicture+'"></img>');
					linkContainer.append('<div class="view-post-media-content" style="color: black;">'+ name+'</div>');
					linkContainer.append('<div class="view-post-media-content" style="color: black;">'+ description+'</div>');
					linkContainer.append('<div class="view-post-media-content" style="color: #9197A3;">'+ caption+'</div>');

					$('#view-post-media-content').html(linkContainer);
				}else if (currentPost.type == "photo"){
					$('#view-post-media-content').html('<img class="photo-image" src="'+currentPost.full_picture+'"></img>');
				}else if (currentPost.type == "video"){
					var videoPicture = currentPost.full_picture ? currentPost.full_picture : "";

					$('#view-post-media-content').html('<img class="photo-image" src="'+videoPicture+'"></img>');
				}
			
			};
		function formatedDate(value){
			var date = new Date(value);
			var hours = date.getHours();
			var timeSuffix = (hours > 11)? "pm" : "am";
			hours = (hours > 11)? hours-12 : hours;
			var minutes = date.getMinutes();
			minutes = (minutes < 10)? '0'+minutes : minutes;
			var dateFormat = (date.getMonth()+1)+'/'+date.getDate()+'/'+date.getFullYear()+' at '+hours+':'+minutes+' '+timeSuffix;
			return dateFormat;
		}

		</script>
	</div>
</body>
</html>