<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../function/functions %>
	<% include ../partials/loader %>
	<div class="header">
		<script src="/javascripts/moment.min.js"></script>
		<% include ../partials/loggedInHeader %>
	</div>


	<div class="container">
	    <div class="row-fluid">
	        <div class="span12 heading white">
	        	<h1><%= page_details.name %></h1>
	        	<h4><%= page_details.about%></h4>
	        </div>
	    </div>
	    <div class="row-fluid">  
			<% if(posts!=null && posts.data!=null && posts.data.length != 0){ %>
					<div class="span3 white page-side-bar">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" class="<%= active_link.all ? 'active' : '' %>"><a href="<%= base_url %>/posts/all">All</a></li>
						  <li role="presentation" class="<%= active_link.published ? 'active' : '' %>"><a href="<%= base_url %>/posts/published">Published</a></li>
						  <li role="presentation" class="<%= active_link.unpublished ? 'active' : '' %>"><a href="<%= base_url %>/posts/unpublished">Unpublished</a></li>
						</ul>
					</div>
					<div class="span9">
						<div class="row-fluid">
							<div class="span12 white seperator page-post-heading">
								<div class="span6"> <h4><%= page_post_heading %></h4> </div>
								<div class="span6">
									<div class="pull-right">
									  	<% if(active_link.all){ %>
									    	<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Create
												<span class="caret"></span></button>
												<ul class="dropdown-menu">
													<li><a class="newPostButton" data-post-type="published" data-toggle="modal" data-target="#newPublishedPostModal">Published Post</a></li>
													<li><a class="newPostButton" data-post-type="unpublished" data-toggle="modal" data-target="#newUnpublishedPostModal">Unpublished Post</a></li>
												</ul>
											</div>
											<% include ../partials/publishedPostModal %>
											<% include ../partials/unpublishedPostModal %>
										<% } if(active_link.published){ %>
									    	<!-- Trigger the modal with a button -->
											<button type="button" class="btn btn-primary newPostButton" data-post-type="published" data-toggle="modal" data-target="#newPublishedPostModal"><span class="glyphicon glyphicon-plus"></span> Create</button>
											<% include ../partials/publishedPostModal %>
									    <% } if(active_link.unpublished){ %>
									    	<!-- Trigger the modal with a button -->
											<button type="button" class="btn btn-primary newPostButton" data-post-type="unpublished" data-toggle="modal" data-target="#newUnpublishedPostModal"><span class="glyphicon glyphicon-plus"></span> Create</button>
											<% include ../partials/unpublishedPostModal %>
									    <% }%>
									</div>
								</div>
							</div>
						</div>
						<% include ../partials/filter %>
						<div class="white page-table ">
							<div class="page-table-header row-fluid seperator" >
								<div class="span6 page-table-data page-table-header-data">Posts</div>
								<div class="span2 page-table-data page-table-header-data">Views</div>
								<div class="span4 page-table-data page-table-header-data">Published</div>
							</div>
							<% for(var i=0; i < posts.data.length; i++) { %>
								<div class="page-table-content post-row row-fluid seperator">
							    	<a data-toggle="modal" data-target="#viewPostModal" data-id="<%= i %>" onclick="viewPostModal(this, event);"> 
					    				<div class="span6 page-table-data truncate"> 
					    					<span><img class="post-image" src="<%= posts.data[i].picture ?  posts.data[i].picture : '/img/default.png' %>"></img></span>
					    					<span class="post-message"><%= posts.data[i].message ? posts.data[i].message : ''%></div></span>
						    			<div class="span2 page-table-data"> <%= reachs[posts.data[i].id].data[0].values[0].value %> </div>
						    			<div class="span4 page-table-data"><%= formatDate(posts.data[i].created_time) %></div>
							    	</a>
								</div>
								<% include ../partials/viewPostModal %>
							<% } %>
						</div>
					</div>
			<% } else{ %>  
			   <div class="white empty"> No Posts on this page !</div>
			<% } %>	        
	    </div>

		<% include ../partials/footer %>
		<script src="/javascripts/posts.js"></script>
		<script >
			function viewPostModal(element, event){
				var index = $(element).data('id');
				var posts = <%- JSON.stringify(posts.data) %>;
				var currentPost = posts[index];
				// generating html
				var viewPostModalContent = '<div id="viewPostModalContent">';
				
				viewPostModalContent += '<div><div class="modal-label">Post Type: </div><div class="modal-value">'+ currentPost.type +'</div></div>';
				if(currentPost.message) viewPostModalContent += '<div><div class="modal-label">Message: </div><div class="modal-value">'+ currentPost.message +'</div></div>';
				if(currentPost.created_time) viewPostModalContent += '<div><div class="modal-label">Created at: </div><div class="modal-value">'+ currentPost.created_time +'</div></div>';
				if(currentPost.call_to_action) viewPostModalContent += '<div><div class="modal-label">Call_to_Action: </div><div class="modal-value">'+ currentPost.call_to_action +'</div></div>';
				if(currentPost.scheduled_publish_time) viewPostModalContent += '<div><div class="modal-label">scheduled_publish_time: </div><div class="modal-value">'+ currentPost.scheduled_publish_time +'</div></div>';
				if(currentPost.caption) viewPostModalContent += '<div><div class="modal-label">caption: </div><div class="modal-value">'+ currentPost.caption +'</div></div>';
				if(currentPost.description) viewPostModalContent += '<div><div class="modal-label">description: </div><div class="modal-value">'+ currentPost.description +'</div></div>';
				if(currentPost.from) viewPostModalContent += '<div><div class="modal-label">from: </div><div class="modal-value">'+ currentPost.from +'</div></div>';
				if(currentPost.icon) viewPostModalContent += '<div><div class="modal-label">icon: </div><div class="modal-value">'+ currentPost.icon +'</div></div>';
				if(currentPost.link) viewPostModalContent += '<div><div class="modal-label">link: </div><div class="modal-value">'+ currentPost.link +'</div></div>';
				if(currentPost.name) viewPostModalContent += '<div><div class="modal-label">name: </div><div class="modal-value">'+ currentPost.name +'</div></div>';
				if(currentPost.picture) viewPostModalContent += '<div><div class="modal-label">picture: </div><div class="modal-value">'+ currentPost.picture +'</div></div>';
				if(currentPost.source) viewPostModalContent += '<div><div class="modal-label">source: </div><div class="modal-value">'+ currentPost.source +'</div></div>';
				if(currentPost.is_published) viewPostModalContent += '<div><div class="modal-label">is_published: </div><div class="modal-value">'+ currentPost.is_published +'</div></div>';

				viewPostModalContent += '</div>';
				var container = $('#viewPostModalContent');
				container.replaceWith(viewPostModalContent);
			}
		</script>
	</div>
</body>
</html>